<footer class="m-3 bg-dark b-radius-50 text-white d-flex p-1 justify-content-between">
  <a class="navbar-brand text-white d-flex" href="#nav">
    <p class="h3 ml-2">Arborizate</p>
  </a>
  <nav class="nav mt-1">
    <a class="nav-link text-light small" href="#">Quienes somos</a>
    <a class="nav-link text-light small" href="#">Contacto</a>
    <a class="nav-link text-light small" href="#">Política de privacidad</a>
    <a class="nav-link text-light small" href="#">Términos de uso</a>
  </nav>
  <div class="mr-2 mt-1">
    <ion-icon name="logo-facebook" size="large"></ion-icon>
    <ion-icon name="logo-instagram" size="large"></ion-icon>
    <ion-icon name="logo-twitter" size="large"></ion-icon>
  </div>
</footer>