<div class="jumbotron jumbotron-fluid text-center mb-0" id="head">
  <div class="container">
    <div class="col-sm-12 col-md-9 mx-auto">
      <h1 class="display-4 text-white">Conoce la cultura de un lugar a través de su gastronomía</h1>
      <br>
      <p class="lead text-light">Gustum te permite reservar una experiencia gastronomica inolvidable con los mejores cocineros, conocedores de la comida local tradicional.</p>
    </div>

    <br>
    <br>
    <div class="col-12 d-md-flex justify-content-center">
      <div class="col-12 col-md-4 mt-3 mb-3">
        <a href="#how_to_head" role="button" class="btn btn-outline-light btn-block btn-lg b-radius-50">Conoce más</a>
      </div>
      <div class="col-12 col-md-4 mt-3 mb-3">
        <a href="#register" role="button" class="btn btn-outline-warning btn-block btn-lg b-radius-50">Participa</a>
      </div> 
    </div>
  </div>  
</div>