<nav class="navbar navbar-expand-md navbar-dark" id="nav">
  <div class="container">
    <a class="navbar-brand text-secondary d-flex" href="">
      <p id="brand_name" class="h2 text-white ml-2 align-middle mt-1">Gustum</p>
    </a>
  </div>
</nav>